/*
Error: Invalid CSS after "...int/breakpoint"": expected "{", was "; // media quer..."
        on line 13 of assets/css/main.scss

8:  *  - mademistakes.com
9:  *  - https://twitter.com/mmistakes
10:  *
11: *\/
12: 
13: @import "vendor/breakpoint/breakpoint"; // media query mixins
14: @import "variables";
15: @import "mixins";
16: @import "vendor/susy/susy";
17: 
18: @import "reset";

Backtrace:
assets/css/main.scss:13
/usr/local/lib/ruby/gems/4.0.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in 'Sass::SCSS::Parser.expected'
/usr/local/lib/ruby/gems/4.0.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in 'Sass::SCSS::Parser#expected'
/usr/local/lib/ruby/gems/4.0.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1233:in 'Sass::SCSS::Parser#tok!'
/usr/local/lib/ruby/gems/4.0.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:688:in 'Sass::SCSS::Parser#block'
/usr/local/lib/ruby/gems/4.0.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:681:in 'Sass::SCSS::Parser#ruleset'
/usr/local/lib/ruby/gems/4.0.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in 'Sass::SCSS::Parser#block_child'
/usr/local/lib/ruby/gems/4.0.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:697:in 'Sass::SCSS::Parser#block_contents'
/usr/local/lib/ruby/gems/4.0.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in 'Sass::SCSS::Parser#stylesheet'
/usr/local/lib/ruby/gems/4.0.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in 'Sass::SCSS::Parser#parse'
/usr/local/lib/ruby/gems/4.0.0/gems/sass-3.7.4/lib/sass/engine.rb:414:in 'Sass::Engine#_to_tree'
/usr/local/lib/ruby/gems/4.0.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in 'Sass::Engine#_render_with_sourcemap'
/usr/local/lib/ruby/gems/4.0.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in 'Sass::Engine#render_with_sourcemap'
/usr/local/lib/ruby/gems/4.0.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in 'Sass::Exec::SassScss#run'
/usr/local/lib/ruby/gems/4.0.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in 'Sass::Exec::SassScss#process_result'
/usr/local/lib/ruby/gems/4.0.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in 'Sass::Exec::Base#parse'
/usr/local/lib/ruby/gems/4.0.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in 'Sass::Exec::Base#parse!'
/usr/local/lib/ruby/gems/4.0.0/gems/sass-3.7.4/bin/sass:13:in '<top (required)>'
/usr/local/Cellar/ruby/4.0.2/lib/ruby/4.0.0/rubygems.rb:304:in 'Kernel#load'
/usr/local/Cellar/ruby/4.0.2/lib/ruby/4.0.0/rubygems.rb:304:in 'Gem.activate_and_load_bin_path'
/usr/local/lib/ruby/gems/4.0.0/bin/sass:25:in '<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...int/breakpoint\"\": expected \"{\", was \"; // media quer...\"\A         on line 13 of assets/css/main.scss\A \A 8:  *  - mademistakes.com\A 9:  *  - https://twitter.com/mmistakes\A 10:  *\A 11: */\A 12: \A 13: @import \"vendor/breakpoint/breakpoint\"; // media query mixins\A 14: @import \"variables\";\A 15: @import \"mixins\";\A 16: @import \"vendor/susy/susy\";\A 17: \A 18: @import \"reset\";"; }
